@import './SearchInput.scss';

.audit-wrapper{
  .search-status{
    margin-top: 20px;
  }
  .audit-table{
    margin-top: 20px;
  }
}
.audit-form{
  img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
}