.info-wrapper{
  .form-content{
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
  }
  .live-table-wrapper{
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
  }
  .comment-content{
    margin-top: 20px;
    margin-bottom: 60px;
  }
}