$menuWidth: 275px;

.page{
  &-wrapper{
    width: 100vw;
    position: relative;
  }
  &-header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    border-bottom: 1px solid gray;
    box-shadow: gray 2px 2px 5px;
    margin-bottom: 10px;
    .logo{
      height: 90px;
      width: 90px;
      background-image: url('/assets/images/logo.svg');
      background-size: 200%;
      background-position: center;
    }
  }
  &-content{
    min-height: 500px;
    display: flex;
    &-menu{
      width: $menuWidth;
      height: 100px;
    }
    &-main{
      flex: 1;
      width: calc(100% - $menuWidth);
      padding: 20px;
    }
  }
  &-footer{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    height: 20px;
    a{
      color: black;
    }
  }
}